# 公共配置文件
# @author <a href="https://github.com/liyupi">程序员鱼皮</a>
# @from <a href="https://yupi.icu">编程导航知识星球</a>
spring:
  application:
    name: springboot-init
  # 默认 dev 环境
  profiles:
    active: dev
  # 支持 swagger3
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  # session 配置
  session:
    # todo 取消注释开启分布式 session（须先配置 Redis）
    # store-type: redis
    # 30 天过期
    timeout: 2592000
  # 数据库配置
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://139.159.163.234:3306/aiagent?useSSL=false&serverTimezone=UTC&useUnicode=true&characterEncoding=utf-8&connectTimeout=60000&socketTimeout=120000&autoReconnect=true&maxReconnects=10&rewriteBatchedStatements=true
    username: root
    password: Mian2002@lmn
    hikari:
      connection-timeout: 60000
      maximum-pool-size: 20
      minimum-idle: 10
      idle-timeout: 300000
      max-lifetime: 1200000
      validation-timeout: 5000
      connection-test-query: SELECT 1
      initialization-fail-timeout: 0
      register-mbeans: true
  # Hibernate 配置
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: none
    show-sql: true
  # Redis 配置
  data:
    redis:
      port: 6379
      host: localhost
      database: 1
      timeout: 5000
      password: 123456
      lettuce:
        pool:
          # 最小空闲连接数
          min-idle: 0
          # 最大空闲连接数
          max-idle: 8
          # 最大活跃连接数
          max-active: 8
          # 最大等待时间
          max-wait: -1ms
  # Elasticsearch 配置
  # todo 需替换配置，然后取消注释
#  elasticsearch:
#    uris: http://localhost:9200
#    username: root
#    password: 123456
  # 文件上传
  servlet:
    multipart:
      # 大小限制
      max-file-size: 10MB
server:
  address: 0.0.0.0
  port: 8101
  servlet:
    # cookie 30 天过期
    session:
      cookie:
        max-age: 2592000
  tomcat:
    # 最大工作线程数
    max-threads: 30
    # 最小工作线程数
    min-spare-threads: 30
    # 最大连接数
    max-connections: 8192
    # 最大等待队列长度
    accept-count: 100
    # 连接超时时间
    connection-timeout: 10000
    # 连接器
    connector:
      # 协议
      protocol: HTTP/1.1
      # 字符编码
      uri-encoding: UTF-8
      # 启用压缩
      compression: on
      # 压缩最小大小
      compression-min-size: 2048
      # 压缩类型
      compressable-mime-types: text/html,text/xml,text/plain,text/css,application/javascript,application/json,application/xml,text/javascript,image/svg+xml,image/x-icon
      # 启用 IPv4 和 IPv6
      address: 0.0.0.0

# MyBatis Plus 配置
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: false
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    # 配置类型处理器
    type-handlers-package: com.yupi.springbootinit.config
    # 配置默认枚举类型处理器
    default-enum-type-handler: com.yupi.springbootinit.config.EducationEnumTypeHandler
  global-config:
    db-config:
      logic-delete-field: isDelete # 全局逻辑删除的实体字段名
      logic-delete-value: 1 # 逻辑已删除值（默认为 1）
      logic-not-delete-value: 0 # 逻辑未删除值（默认为 0）
      # 主键类型
      id-type: auto
# 微信相关
wx:
  # 微信公众平台
  # todo 需替换配置
  mp:
    token: xxx
    aesKey: xxx
    appId: xxx
    secret: xxx
    config-storage:
      http-client-type: HttpClient
      key-prefix: wx
      redis:
        host: 127.0.0.1
        port: 6379
      type: Memory
  # 微信开放平台
  # todo 需替换配置
  open:
    appId: xxx
    appSecret: xxx
# 对象存储
# todo 需替换配置
cos:
  client:
    accessKey: xxx
    secretKey: xxx
    region: xxx
    bucket: xxx
# 接口文档配置
knife4j:
  enable: true
  openapi:
    title: "接口文档"
    version: 1.0
    group:
      default:
        api-rule: package
        api-rule-resources:
          - com.yupi.springbootinit.controller

jwt:
  secret: your-secret-key-must-be-at-least-32-bytes-long
  expiration: 3600  # 1小时，单位：秒

rsa:
  private:
    key: |
      -----BEGIN PRIVATE KEY-----
      MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDQV6mz5XPRbXqy
      h868DZTjYUaR4yxzFr0vHepDl2CheyqQWjmUbEVT9UAuZEKxWZwRFmDvB+Bgw5NW
      kYvVLa4CxxYojrM/3I8hUni2T6xo1PRiGWYQOJPDzy/a1wlgXUtag6/8fIhYgL+s
      0GmCq+GoEV5SrXCm2JDUe8BiE/WM7Lc3XXXUvTRKKqET3Yv49VlaMJkx655agRnl
      uV/Ubmm7BBPbwkDyIJpw4U3KPui/FHULvpsYGp2rxosw4UE0nJdIOqMyFdmU+7sx
      U9eEp/ZvDE52mDYDkmSvohNqRX+zZnx40FG34UZz9ZoOhpam3nl+IBZE0Hyt0WJV
      TVo7ZqTvAgMBAAECggEAD7UcQUjiU37Kil080+a+O+pglK0o88BaIQxDVjc6fNI5
      Ykq7HpqPG4ZZAWZjtNVJs+wZAMx6OTFlkVhFz5uzC9iQrhwcHYt2aw+5tB0LpZew
      mRjLHhv14ARl2jzuIwrFnJxjD0kgSnPif5fy7Hwi9jXhA6C55opbWPm/hmV01Nv9
      BzeTjlaIhgKWP7w+aQa/wc1gMXZ/Xd9rAC9/H/M8yF4qrROR2up682iATL2MQ7hY
      NKNsJNEGE9LnJXULPIoChDaEIRH3McIyt3M51fqQMIDAnZ2HWDM5keBz4bPUFNoO
      u2yNFAqVqdPKwMSu3+N9OqD0BC+ggHLyp378AQ/FeQKBgQD30O3nTTmpos9bE4yS
      htdiu6rBWuEouzKzeosimDH3lyiCQLXzjjs8nasvZ4flAPeDCfo3p9wEdOGSSKlo
      FAp5klFlF1zEEhSGZXgaExRKPWhFywH7WeuIH5CAOsWiMpaD6HQkmCidfjO5KwN7
      P9nd5IbrE1CF7atriv+bW1PFHQKBgQDXOQSGtdQdkAkjlPAHHCdaOVQNeR9zr6NT
      UiFFMOwm7i8I3OM4LJiJgf/jJxaAsqGWGCs+y6GQT47CfItVB6MA8ZibOxmlj64j
      JZlATv97vzFD+ai6Vwjz0iCCVrxXHvw9SusLx0v5m+SP4OYjF7pN4HeCfQHsR97s
      3wwF2r+wewKBgDVS+b4pudyssd2xKTBmX3ZZV3bfrU9saI6CMeoxwZ67IfZVIlHU
      Kx7x9mHu7yjxulCyFute7VLwK5GknP9OQKrEN0t/aXCvS0dYEi3aKSWIbSWHd1e0
      k5/o2tkczGYIaKbdoBA3xZWOEGcpwEgHB0Rd5kIzF8KZz6cGc9XkIvRpAoGBAMHe
      x7f9NKzIoaLet/T/pGc+uvtD/1P7hBk7I2MrdZ5/8fh+2WMxsNo1M2bQQBIAV1RY
      QyRW1Bulvshs3injLi9ccgZrD2g27DsW1Fy8jKFREbTUwOvSGOthfg1Kym+EJt2j
      jeVXSpX3msUMZuJ3rkgWijEOIFxSRXqEVVU0vnXfAoGAMCLIOAfGB84ttUZF8s86
      5p9kseiQw795VDqDT2RVyG6tie8RJt9nEqKhUhFedcBBE9/ixQdMSpJwxb4b/2h3
      q0WT5xiTsH9KtuESL/e5ehBRkWTDQz+uX0EMdsSLqpctwRyzzeLNjenBoqSXjaiK
      pjwWZr2zYH+WUygDMTTtlNE=
      -----END PRIVATE KEY-----
  public:
    key: |
      -----BEGIN PUBLIC KEY-----
      MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0Feps+Vz0W16sofOvA2U
      42FGkeMscxa9Lx3qQ5dgoXsqkFo5lGxFU/VALmRCsVmcERZg7wfgYMOTVpGL1S2u
      AscWKI6zP9yPIVJ4tk+saNT0YhlmEDiTw88v2tcJYF1LWoOv/HyIWIC/rNBpgqvh
      qBFeUq1wptiQ1HvAYhP1jOy3N1111L00SiqhE92L+PVZWjCZMeueWoEZ5blf1G5p
      uwQT28JA8iCacOFNyj7ovxR1C76bGBqdq8aLMOFBNJyXSDqjMhXZlPu7MVPXhKf2
      bwxOdpg2A5Jkr6ITakV/s2Z8eNBRt+FGc/WaDoaWpt55fiAWRNB8rdFiVU1aO2ak
      7wIDAQAB
      -----END PUBLIC KEY-----
